.vend{
  padding: 99px 0 105px;
  &__title{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #818187;
  }
  &__btn{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #818187;
    background: transparent;
    border: none;
    display: flex;
    column-gap: 35px;
    cursor: pointer;
  }
}
.text{
  padding-bottom: 17px;
}