.header-under{
  a{
    color: inherit;
  }
  &__item.active{
    color: #00C65E;
  }

  &__menu{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 20;
    position: absolute;
    bottom: -15px;
    background-color: #ffffff;
    transform: translateY(100%);
    &-link{
      cursor: pointer;
      &:hover{
        color: #00C65E;
        svg{
          stroke: #00C65E;
          fill: #00C65E;
          color: #00C65E;
        }
      }
    }
  }
}