.aid{
  padding: 28px 65px 0 70px;

  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 40px;
    color: #363A45;
  }
  &__content{
    display: flex;
    align-items: center;
    column-gap: 138px;
  }
  &__list{
    width: 50%;
    &-item{
    }
    font-weight: 700;
    font-size: 16px;
    line-height: 152%;
    color: #363A45;
    padding-bottom: 15px;
  }
  &__item{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #363A45;
  }
  &__img{
    padding: 0 65px 35px 0;
  }
}