.formalize{
  padding: 41px 0 122px;

  &__title{
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-bottom: 30px;
  }
  &__content{
    padding: 25px 71px 35px 30px;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
    width: 725px;
  }
  &__compound{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__order{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__change{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #363A45;
  }
  &__model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 0 21px;
  }
  &__svg{
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
  &__text{
    display: flex;
    align-items: center;
    padding-right: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #363A45;
  }
  &__num{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__price{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #363A45;
  }
  &__total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text{
      font-weight: 500;
      font-size: 16px;
      line-height: 152%;
      display: flex;
      align-items: center;
      color: #363A45;
    }
  }
  &__result{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #363A45;
  }
  &__orders{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__btns{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 20px 0 40px;
  }
  &__btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 12px 79px;
    background: #00C65E;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  &__button{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #00C65E;
    background: white;
    padding: 12px 73px;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  &__inputs{
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 10px;
    padding: 25px 30px 21px;
  }
  &__city{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    color: #363A45;
    padding-bottom: 5px;
  }
  &__select{
    width: 564px;
    height: 45px;
    border: 1px solid #DADCDC;
    border-radius: 10px;
    padding: 12px 20px 12px 10px;
  }
  &__option{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #363A45;
  }
  &__period{
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  &__date{
    padding: 30px 0 30px;
    &-title{
      font-weight: 500;
      font-size: 16px;
      line-height: 152%;
      display: flex;
      align-items: center;
      color: #363A45;
      padding-bottom: 5px;
    }
  }
  &__data{
    padding: 12px 15px;
    width: 267px;
    height: 45px;
    border: 1px solid #DADCDC;
    border-radius: 10px;
  }
  &__clock{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__tense{
    padding: 12px 15px;
    width: 267px;
    height: 45px;
    border: 1px solid #DADCDC;
    border-radius: 10px;
  }
  &__house{
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-bottom: 30px;
  }
  &__street{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__input{
    padding: 12px 15px;
    width: 267px;
    height: 45px;
    border: 1px solid #DADCDC;
    border-radius: 10px;
    &::placeholder{
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #DADCDC;
    }
  }
  &__flat{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__courier{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__comment{
    padding: 12px 15px;
    width: 564px;
    height: 45px;
    border: 1px solid #DADCDC;
    border-radius: 10px;
    &::placeholder{
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #363A45;
    }
  }
  &__btn-white{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #00C65E;
    padding: 12px 56px;
    width: 220px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
  }
  &__way{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
    padding-bottom: 19px;
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 11px;
  }
  &__card{
    padding: 12px 15px;
    width: 297px;
    height: 90px;
    border: 1px solid #00C65E;
    border-radius: 10px;
  }
  &__render{
    display: flex;
    column-gap: 20px;
  }
  &__span{
    cursor: pointer;
  }
  &__payment{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
    padding-bottom: 10px;
  }
  &__descr{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #363A45;
  }
  &__link{
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 110%;
    color: #00C65E;
  }
  &__information{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
    padding-bottom: 20px;
  }
  &__record{
    display: flex;
    column-gap: 30px;
  }
  &__name{
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #262626;
    &-input{
      padding: 10px 15px;
      width: 297px;
      height: 40px;
      border: 1px solid #DADCDC;
      border-radius: 10px;
      &::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #DADCDC;
      }
    }
  }
  &__facts{
    padding-bottom: 20px;
  }
  &__bottom{
    display: flex;
    column-gap: 54px;
    &-text{
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;

      color: #262626;
    }
  }
  &__Btn{
    padding: 0 56px;
  }
  &__condition{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #00C65E;
  }
  &__overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    z-index: 10;
  }
  &__popup{
    background: #ffffff;
    padding: 48px 85px 56px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 12px rgba(54, 58, 69, 0.26);
    border-radius: 10px;
    z-index: 25;
    position: fixed;
    top: 50%;
    left: 50%;
    &-close{
      position: absolute;
      right: -40px;
      top: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, .5);
      cursor: pointer;
    }
    &-title{
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #363A45;
    }
  }
}