.data{
  padding: 16px 20px 59px;
  margin: 0 250px 0 200px;
  &__content{
    display: flex;
    column-gap: 32px;
    align-items: center;
  }
  &__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.5px;
    color: #363A45;
  }
  &__city{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #979797;
  }
  &__person{
    padding-right: 168px;
  }
  &__btn{
    padding: 12px 44px;
  }
  &__list{
    padding: 60px 0 20px;
    &-item{
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #363A45;
      border-bottom: 2px solid #F7F7F7;
      padding: 20px 0 6px;
    }
  }
  &__item{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
    border-bottom: 2px solid #F7F7F7;
    padding: 10px 0;
  }
  &__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #00C65E;
  }
}