.online{
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-bottom: 100px;

  &__banner{
    margin-top: 50px;

    &-slide{
      width: 100vw;
      &1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url("./OnlineBanner/bg.png") center/cover no-repeat;


        &-title{
          display: flex;
          column-gap: 17px;
          justify-content: center;
          margin-bottom: 20px;
          font-family: 'TT Norms',sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 150%;
          letter-spacing: 0.5px;
          color: #FFB762;
        }
        &-text{
          font-family: 'TT Norms',sans-serif;
          transform: translateX(30%);
          margin-bottom: 40px;
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 150%;
          letter-spacing: 0.5px;
          color: #FFB762;
        }
        &-btn{
          padding: 12px 55px;
        }
      }

    }

  }

  &__cashBack{
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    &-img{
      transition: all .4s;
      cursor: pointer;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  &__brands{
    margin-top: 30px;
    display: flex;
    gap: 24px;
    &-card{
      cursor: pointer;
      width: calc(17% - 20px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
    }
    &-img{
      transition: all .1s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  .swiper{
    padding: 0!important;
  }

  &__slide{
    width: 100%;
    margin: 15px 13px;

    &1{
      //background: url("");
      display: flex;
      justify-content: space-between;
    }
    &-info{
      padding: 30px 70px;
      text-align: left;
    }
    &-title{
      font-family: 'TT Norms',sans-serif;
      margin-bottom: 13px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #00C65E;
    }
    &-subtitle{
      font-family: 'TT Norms',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.5px;
    }
    &-text{
      font-family: 'TT Norms',sans-serif;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
    &-btn{
      padding: 12px 55px;

    }
    &-img{}
  }

}
@import "Favourites/favourites";
@import "Cart/cart";
@import "Cart/Formalize/formalize";