.jobs{
  padding: 50px 0 50px;
  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #363A45;
    padding-bottom: 30px;
  }
  &__content{
    display: flex;
    column-gap: 22px;
  }
  &__card{
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 10px;
    padding-bottom: 15px;
  }
  &__img{
    border-radius: 10px;
  }
  &__list{
    &-item{
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: #00C65E;
      padding-top: 20px;
      text-align: center;
    }
    &-btn{
      background: transparent;
      border: none;
      display: block;
      margin: 0 auto;
      padding-bottom: 6px;
    }
  }
  &__item{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #363A45;
    padding: 20px 0 0 23px;
  }

  &__btn{
    background: transparent;
    border: none;
    display: block;
    margin-left: auto;
    padding-right: 15px;
  }
}