.request{
  padding-bottom: 100px;
  background: #FFDBB0;
  &__title{
    padding: 40px 0 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363A45;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #363A45;
  }
  &__btn{
    margin: 30px auto 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F89358;
    border-radius: 10px;
    padding: 12px 56px;
    border: none;
    cursor: pointer;
    transition: .3s;
    &:hover{
      background: transparent;
      border: 1px solid #F89358;
      color: #F89358;
      transition: .3s;
    }
  }
}